---
import ContactSection from "../components/ContactSection.astro";
import FaqSection from "../components/FaqSection.astro";
import FitSection from "../components/FitSection.astro";
import HeroSection from "../components/HeroSection.astro";
import OffersSection from "../components/OffersSection.astro";
import ProcessSection from "../components/ProcessSection.astro";
import ProofSection from "../components/ProofSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { footerContent, headerContent } from "../data/navigation";
import { homePageData } from "../data/pages/home";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <SiteHeader content={headerContent} />
  <main id="main-content" tabindex="-1">
    <HeroSection content={homePageData.hero} />
    <OffersSection content={homePageData.offers} />
    <ProcessSection content={homePageData.process} />
    <ProofSection content={homePageData.proof} />
    <FitSection content={homePageData.fit} />
    <FaqSection content={homePageData.faq} />
    <ContactSection content={homePageData.contact} />
  </main>
  <SiteFooter content={footerContent} />
</BaseLayout>
